# Устанавливаем настройки для всех файлов
[*]
indent_style = tab       # Используем пробелы вместо табов
indent_size = 4            # Размер отступа в пробелах
charset = utf-8            # Кодировка файлов
trim_trailing_whitespace = true  # Удаляем пробелы в конце строк
insert_final_newline = true      # Добавляем пустую строку в конце файла
