@font-face {
    font-family: "GolosText";
    src: url("/fonts/GolosText-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "GolosText";
    src: url("/fonts/GolosText-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}


.title-1{
	font-size: 36px;
	font-weight: 500;
	line-height: 43.2px;
}
.title-2{
	font-size: 28px;
	font-weight: 500;
	line-height: 36px;
}
.title-3{
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
}
.title-4{
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
}
.title-5{
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
}
.title-6{
	font-size: 13px;
	font-weight: 500;
	line-height: 15.6px;
}

.text {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.description-13-regular {
	font-size: 13px;
	font-weight: 400;
	line-height: 17px;
}
.description-11-medium {
	font-size: 11px;
	font-weight: 500;
	line-height: 13.2px;
}

.button-14-medium {
	font-size: 14px;
	font-weight: 500;
	line-height: 16.8px;
}
.button-14-regular {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}
.button-13-medium {
	font-size: 13px;
	font-weight: 400;
	line-height: 15.6px;
}

.plates-14-medium {
	font-size: 14;
	font-weight: 500;
	line-height: 18px;
}
.plates-14-regular {
	font-size: 14;
	font-weight: 400;
	line-height: 18px;
}

.pagination-16-regular {
	font-size: 16;
	font-weight: 400;
	line-height: 18px;
}
