// Цвета
$Emerald-700: #008751;
$Emerald-500: #00A764;
$Emerald-200: #87EBC0;
$Emerald-50: #ECFFF1;
$Green-400: #0FB400;
$Green-200: #B6FFA7;
$Red-orange-700: #D34114;
$Red-orange-500: #ED5C2F;
$Red-orange-200: #FFCEAB;

$Orange: #F2671B;

$Blue-1000: #002F59;
$Blue-900: #053B74;
$Blue-800: #0A478F;
$Blue-700: #0F53A9;
$Blue-600: #145FC4;
$Blue-500: #196BDF;
$Blue-400: #5092E7;
$Blue-300: #88B8F0;
$Blue-200: #BFDFF8;
$Blue-100: #E1F2FF;

$Misty-1000: #041221;
$Misty-900: #152738;
$Misty-800: #273C50;
$Misty-700: #385167;
$Misty-600: #49667E;
$Misty-500: #7E95A8;
$Misty-400: #99ACBD;
$Misty-300: #B3C3D2;
$Misty-200: #C5D2DE;
$Misty-100: #D6E0EA;
$Misty-75: #E1E8F0;
$Misty-50: #ECF0F6;
$Misty-20: #F9FBFF;
$White: #FFFFFF;

// Градиент
$BackgroundGradient: linear-gradient(180deg, rgba(236, 240, 246, 0.3) 0%, rgba(197, 210, 222, 0.3) 100%);

// Тени
$Lift-300: 0px 2px 10px 0px #91AFFC40;
$Lift-200: 0px 2px 6px 0px #9BB7DC80;
$Lift-25: 0px 2px 6px 0px #9BB7DC80;


