@import '@/styles/variables.scss';
@import '@/styles/fonts.scss';

.block{
    display: grid;
    grid-template-columns: 50% 15% 15% 15%;
    align-items: center;
    gap: 10px;

    background-color: $White;
    padding: 16px 0px 16px 30px;
    border-radius: 16px;

    color: unset;
    text-decoration: unset;
}

.id,
.grayText,
.tabel{
    @extend .plates-14-medium;

    color: $Misty-600;
}

.tabel{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.date,
.userName,
.title{
    @extend .plates-14-regular;

    color: $Misty-1000;
}

.userPost,
.initiator{
    @extend .description-13-regular;

    color: $Misty-600;
}

.user{
    display: flex;
    align-items: center;
    gap: 12px;
}

.userAvatar{
    width: 36px;
    height: 36px;
    border-radius: 12px;
    overflow: hidden;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.dateBlock{
    display: flex;
    align-items: center;
    gap: 8px;
}
