@import '@/styles/variables.scss';
@import '@/styles/fonts.scss';

.card{
    background-color: $White;
}

.header{
    display: flex;
    justify-content: space-between;

    padding: 20px 18px;
}

.block{
    display: grid;
    grid-template-columns: 7% 32% 15% 15% 20% 7%;
    align-items: center;
    gap: 10px;

    background-color: $White;
    padding: 16px 0px;
    border-radius: 16px;

    color: unset;
    text-decoration: unset;
}

.id,
.totalMessage,
.totalCount{
    @extend .plates-14-medium;

    color: $Misty-600;

    display: flex;
    align-items: center;
    justify-content: center;
}


.date,
.userName,
.title{
    @extend .plates-14-regular;

    color: $Misty-1000;
}

.userPost,
.initiator{
    @extend .description-13-regular;

    color: $Misty-600;
}

.user{
    display: flex;
    align-items: center;
    gap: 12px;

    margin-left: 60px;
}

.userAvatar{
    width: 36px;
    height: 36px;
    border-radius: 12px;
    overflow: hidden;

    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.dateBlock{
    display: flex;
    align-items: center;
    gap: 8px;

    margin-left: 22px;
}

.headerLeft{
    display: flex;
    align-items: center;
}

.content{
    width: 95%;
    border-top: 1px solid $Misty-200;

    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 32px;
}

.content p{
    @extend .text;

    max-width: 800px;
    margin: 0 auto;

    color: $Misty-800;
}

.content p span{
    color: $Misty-500;
}

.status{
    @extend .plates-14-medium;

    color: $Misty-600;
}
