@import '@/styles/variables.scss';


.button {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: 7px 9px;
	border-radius: 8px;

	border: unset;
	color: $Blue-700;
	transition: all 0.2s ease-in-out;
	outline: none;
	cursor: pointer;

	background-color: $Blue-100;

	svg path {
		transition: all 0.3s ease-in-out;
	}

	&:hover {
		background-color: $Blue-500;

		svg path{
			stroke: $White;
		}
	}

	&:focus {
		border: 3px solid $Blue-300
	}
}

.disabled {
	background-color: $Blue-100 !important;
	cursor: default !important;

	span svg path {
		stroke: $Blue-300 !important;
	}
}
