@import '@/styles/variables.scss';
@import '@/styles/fonts.scss';


.button {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	padding: 10px;
	border-radius: 16px;

	border: unset;
	transition: all 0.2s ease-in-out;
	outline: none;
	cursor: pointer;

	background-color: $White;

	box-shadow: $Lift-200;

	svg{
		width: 20px;
		height: 20px;
	}

	svg path {
		transition: all 0.3s ease-in-out;
	}
}

.textBlock{
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.container{
	display: flex;
	align-items: center;
	gap: 12px;
}


.title{
	@extend .plates-14-medium;
	color: $Misty-1000

}
.date{
	@extend .description-13-regular;
	color: $Misty-600;
}
